.layer-img{
    position: relative; 
}

.layer-img-container{
    position: absolute; 
}
.view-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    position: relative;
}